@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 120%;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #1a1f2d;
  /* Use Tailwind's theme function */
  letter-spacing: .06em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Sofia Sans Condensed', sans-serif;

  --color-primary1: theme('colors.primary1');
  --color-primary2light: theme('colors.primary2light');
  --color-primary2normal: theme('colors.primary2normal');
  --color-primary2dark: theme('colors.primary2dark');
  --color-primary2darker: theme('colors.primary2darker');
  --color-liquidwhite: theme('colors.liquidwhite');
  --color-liquidblack: theme('colors.liquidblack');
  --color-liquidlightergray: theme('colors.liquidlightergray');
  --color-liquiddarkgray: theme('colors.liquiddarkgray');
  --color-secondary2: theme('colors.secondary2');
  --color-backgrounddark: theme('colors.backgrounddark');
  --color-backgroundmid: theme('colors.backgroundmid');
  --color-backgroundlight: theme('colors.backgroundlight');
  --color-backgroundlighthover: theme('colors.backgroundlighthover');
  --color-warningcolor: theme('colors.warningcolor');
  --color-red: theme('colors.red');
  --color-green: theme('colors.green');
}

.check-box {
  @apply accent-primary2normal appearance-none w-4 h-4 border-2 border-primary1 rounded transition-colors bg-backgrounddark;
  /* Unchecked state styles */
  border-color: var(--color-primary2darker);
}

/* Checked state (already present) */
.check-box:checked {
  background-color: var(--color-primary2normal);
  border-color: var(--color-primary2normal);
}

/* Optional: add a hover effect for unchecked */
.check-box:hover {
  border-color: var(--color-primary2normal);
}

/* Hide the spinner for input[type="number"] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* For Firefox */
}

/* Add to your global CSS file */
.blink-error {
  animation: blinkError 0.4s ease-in-out;
}

.blink-success {
  animation: blinkSuccess 0.4s ease-in-out;
}

@keyframes blinkError {

  0%,
  100% {
    border-color: transparent;
    color: black;
  }

  50% {
    border-color: #ef4444;
    /* red-500 */
    color: #ef4444;
    /* red-500 */
  }
}

@keyframes blinkSuccess {

  0%,
  100% {
    border-color: transparent;
    color: black;
  }

  50% {
    border-color: #22c55e;
    /* green-500 */
    color: #22c55e;
    /* green-500 */
  }
}
.text-title {
  @apply text-[14px] font-[500] h-8 ;
 
}

.text-body {
  @apply text-[12px] font-[400] ;
}

.rounded-md{
  border-radius: 4px;
}