@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 120%;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #171d30;
  /* Use Tailwind's theme function */
  letter-spacing: .06em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Sofia Sans Condensed', sans-serif;

  --color-primary1: #F59DEF;
  --color-primary2: #00B7C9;
  --color-primary2active: #00eaff;
  --color-primary2deactive: #00505c;
  --color-primary2deactiveactive: #0099b0;
  --color-liquidwhite: #8AABB2;
  --color-secondary2: #565A93;
  --color-backgrounddark: #02001B;
  --color-backgroundmid: #121622;
  --color-backgroundlight: #1d243b;
  --color-backgroundlighthover: #1d2c3c;
  --color-warncolor: #d83d3d;
  --color-red: #ff4d73;
  --color-green: #67d8b2;
}

.check-box {
  @apply accent-primary2 appearance-none w-4 h-4 border-2 border-primary1 rounded transition-colors bg-backgrounddark;
  /* Unchecked state styles */
  border-color: var(--color-primary2deactive);
}

/* Checked state (already present) */
.check-box:checked {
  background-color: var(--color-primary2);
  border-color: var(--color-primary2);
}

/* Optional: add a hover effect for unchecked */
.check-box:hover {
  border-color: var(--color-primary2);
}

/* Hide the spinner for input[type="number"] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* For Firefox */
}





/* Add to your global CSS file */
.blink-error {
  animation: blinkError 0.4s ease-in-out;
}

.blink-success {
  animation: blinkSuccess 0.4s ease-in-out;
}

@keyframes blinkError {

  0%,
  100% {
    border-color: transparent;
    color: black;
  }

  50% {
    border-color: #ef4444;
    /* red-500 */
    color: #ef4444;
    /* red-500 */
  }
}

@keyframes blinkSuccess {

  0%,
  100% {
    border-color: transparent;
    color: black;
  }

  50% {
    border-color: #22c55e;
    /* green-500 */
    color: #22c55e;
    /* green-500 */
  }
}
